:root {
    --white:#fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0919;
    --color-sec: #db6400;
    --color-grey: #ddd;
    --color-dark-grey: #222831;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body{
    font-family: 'DM Sans';
    background: linear-gradient( to right, #3285a8, #32a832)
}

.calculator-grid {
    max-width: 350px;
    max-height: 600px;
    margin: 10vh auto 0 auto;
    padding: 2px;
    display: flex;
    flex-direction: column;
    
}

.display{
    width: 100%;
    margin: 0 auto;
    background-color: grey
    
}

.previous-display{
    height: 20px;
    color: var(--white);
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.current-display{
    height: 60px;
    color: var(--white);
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    padding-top: 2rem;
    padding-right: 1rem;
}


.icons{
    height: 40px;
    color: var(--white);
    padding: 1.4rem 0.2rem 3rem 1rem;
    font-size: 26px;
    font-weight: 800;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.fa-delete-left{
    font-size: 30px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 87px);
    grid-template-rows: repeat(5, 90px);
    position: relative;
}

.buttons button{
    line-height: 80px;
    text-align: center;
    cursor: pointer;
    font-size: 23px;
    transition: all .3s;
    font-family:inherit;
    font-weight: 800;
    border: 1px solid grey;
    outline: none;

}

.buttons button:hover{
    background-color: grey
}

#equal-to{
    background-color:#3248a8;
}

.history{
    position: fixed;
    height: 450px;
    width: 180px;
    background: grey;
    transition: all .5s;
    display: none;
}

.history ul p{
    font-size: 18px;
    padding-top: 10px;
    text-align: center;
    color: var(--white);
}

.fa-trash-can{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.8rem;
    font-size: 20px;
    background-color: red;
    color: var(--white);
    cursor: pointer;
}

h1{
    text-align: center;
    padding: 1rem;
}

ul{
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

ul li{
    display: flex;
    border: 0.5px solid var(--black);
    padding: 5px 10px;
    margin: 0;
    justify-content: flex-end;
    font-size: 18px;
    font-family: inherit;
    color: var(--white);
    cursor: crosshair;

}

ul li:nth-child(odd){
    background-color:var(--white);
    color: var(--black);
}