:root {
    --white:#fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0919;
    --color-sec: #db6400;
    --color-grey: #ddd;
    --color-dark-grey: #222831;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
}

.calculator-grid {
    max-width: 350px;
    max-height: 600px;
    margin: 10vh auto 0 auto;
    padding: 2px;
    background-color: rgba(0, 0, 0, 1);
}

.current-display{
    height: 60px;
    background-color: var(--color-sec);
    color: var(--white);
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    padding-top: 2rem;
    padding-right: 1rem;
}

.previous-display{
    height: 20px;
    background-color: var(--color-sec);
    color: var(--white);
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}

.icons{
    background-color: var(--color-dark-grey);
    height: 40px;
    color: var(--white);
    padding: 1.4rem;
    font-size: 20px;
    display: flex;

}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

button{
    line-height: 80px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    text-align: center;
    cursor: pointer;
    font-size: 23px;
}